{% extends "base_generic.html" %}

{% block content %}
{% if user == run.runner or user.is_superuser %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/run_detail.css'%}" type="text/css">

    <div class=run_detail>
        <h1> Run Details</h1>

        <div class=horizontal_flex>
            <div class=table_data>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Length</th>
                        <th>Duration</th>
                        <th>Average Pace</th>
                    </tr>
                    <tr>
                      <td>{{ run.start_time.date }}</td>  
                      <td>{{ run.start_time.time }}</td>  
                      <td>{{ run.length }} meters</td>  
                      <td>{{ run.duration }} (hh:mm:ss)</td>  
                      <td>{{ run.average_pace }} min per km</td>  
                    </tr>
                </table>    
            </div>
            <div class=links>
                <ul>
                    <li>
                        <!-- <a href="{% url 'run-update' pk=run.id %}">Update Run</a> -->
                    </li>
                    <li>
                        <a href="{% url 'run-delete' pk=run.id %}">Delete Run</a>    
                    </li>
                </ul>
            </div>
    
        </div>
    </div>
    <div id="map"></div>
    <div id="data" hidden>{{ route }}</div>
    {% load static %}
    <script src="{% static './bundle.js' %}" data={{ runs }}></script>
{% else %}
    <p> user: {{ user }}</p>
    <p> run.runner: {{ run.runner }}</p>
{% endif %}
{% endblock %}