{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">

{% block content %}
<div class=content>
    <h2>Your Run List</h2>
    {% if run_list %}
    <ul>
      {% for run in run_list %}
        <li>
          <!-- <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) -->
          {{ run.start_time }}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no runs logged yet.</p>
    {% endif %}       
  
</div>
{% endblock %}