// html, body {
//     height: 100%;
//     // margin: 0;
// }

.container .center .content {
    p {
        color: white;
        padding-bottom: 2px;
    }
    
    h1, h2 {
        color: blue;
    }
    
    ol {
        padding: 0;

        li {
            list-style: none;
            color: white;
            padding-bottom: 2px;

            a {
                text-decoration: none;
                color: blue;
              }
    
              a:hover {
                color: white;
              }

            img {
                border: white 1px solid;
                border-radius: 2%;
                margin-top: 4px;
            }
        }
    }
    
}

